

{% extends 'main.html' %}

{% block content %}


            {% if not search %}
                <h2> <p> Search Results for "{{ q }}"</p></h2>
    <section class="search_result">

            {% for product in products %}
                <a href="{% url 'product' product.id %}">
                <div>
                <img src="{{ product.product_image.url }}" width="100px" height="100px"/><br>
                </div>
                 <span id="product_name">Name: {{ product.name }} </span><br>
            <span id="product_price"> Price: #{{ product.price }} </span>
                </a>
            {% endfor %}
    {% endif %}

    </section>


    <section class="container">
        <section class="category_section">
            <h2> CATEGORIES </h2><hr>
            {% for category in categories %}
               <a href="{% url 'home' %}?q={{category.name}}" id="category_link" > {{ category.name }} </a><br>
            {% endfor %}

        </section>
    <section class="products">

        <center> <h3> Men's Wears </h3></center>
        <section class="men_product">

            {% for product in men_products %}

            <a href=" {% url 'product' product.id  %}" >

            <div>
                <img src="{{ product.product_image.url }}" width="200px" height="200px"/><br>
            </div>

            <span id="product_name">Name: {{ product.name }} </span><br>
            <span id="product_price"> Price: #{{ product.price }} </span>

            </a>

            {% endfor %}
        </section>

            <center> <h3> Women's Wears </h3></center>
        <section class="women_product">
            {% for product in women_products %}

            <a href=" {% url 'product' product.id  %}">

            <div>
                <img src="{{ product.product_image.url }}" width="200px" height="200px"/><br>
            </div>
            <span id="product_name">{{ product.name }} </span>
            <span id="product_price">#{{ product.price }} </span>
            </a>



            {% endfor %}
        </section>

    </section>

    </section>

{% endblock %}

