

{% extends 'main.html' %}
{% block content %}
{% load static %}
    <section>
        <div class="search_result">
            {% if search %}
                <h2> Search Results for "{{ q }}"</h2>
                <div class="product_result">
                    {% for product in products %}
                        <div class="search_products">
                            <a href="{% url 'product' product.id %}">
                            <div class="product_image">
                                <img src="{{ product.product_image1.url }}"/>
                            </div><br>
                             <span id="product_name">{{ product.name|capfirst }} </span><br>
                             <span id="product_price">#{{ product.price }} </span>
                            </a>
                        </div>
                    {% endfor %}<span><a href="{% url 'home' %}">View all </a>  </span>
                </div>

            {% endif %}
        </div>
    </section>

    <section>
        <div class="ads">
            <div class="ad_image">
                <img src="{% static 'images/macbook_pro-wallpaper-1280x1024.jpg' %}" alt="Macbook Pro"/>     </div>

            <div class="ad_text">
                <h2> Macbook pro</h2>
                <h3> Think different</h3>
                <p> #250k</p>
                <button type="submit" class="adbtn"> Buy Now</button>

            </div>

        </div>
    </section>


    <section>
        <div class="container">
            <div class="category_section">
{#                <h2> CATEGORIES </h2><hr>#}
                {% for category in categories %}
                   <a href="{% url 'home' %}?q={{category.name}}" id="category_link" > {{ category.name }} </a><br>
                {% endfor %}

            </div>

            <div class="products">
                <section>
                    <div class="category_title">
                        <h3>  Men's Wears </h3>
                    </div>
                    <div class="men_product">
                        {% for product in men_products %}
                        <div class="main_product">
                            <a href=" {% url 'product' product.id  %}" >

                            <div class="product_image">
                                <img src="{{ product.product_image1.url }}"/><br>
                            </div>

                            <span id="product_name">{{ product.name|capfirst }} </span><br>
                            <span id="product_price">#{{ product.price }} </span>

                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </section>

                <section>
                    <div class="category_title">
                        <h3> Women's Wears </h3>
                    </div>
                    <div class="women_product">
                        {% for product in women_products %}
                        <div class="main_product">
                            <a href=" {% url 'product' product.id  %}">

                            <div class="product_image">
                                <img src="{{ product.product_image1.url }}"/><br>
                            </div>

                            <span id="product_name">{{ product.name|capfirst }}<br> </span>
                            <span id="product_price">#{{ product.price }} </span>
                            </a>
                        </div>


                        {% endfor %}
                    </div>

                </section>

                <section>
                    <div class="category_title">
                        <h3>  Technology </h3>
                    </div>
                    <div class="men_product">
                        {% for product in men_products %}
                        <div class="main_product">
                            <a href=" {% url 'product' product.id  %}" >

                            <div class="product_image">
                                <img src="{{ product.product_image1.url }}"/><br>
                            </div>

                            <span id="product_name">{{ product.name|capfirst }} </span><br>
                            <span id="product_price">#{{ product.price }} </span>

                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </section>

                <section>
                    <div class="category_title">
                        <h3>  New Products </h3>
                    </div>
                    <div class="men_product">
                        {% for product in men_products %}
                        <div class="main_product">
                            <a href=" {% url 'product' product.id  %}" >

                            <div class="product_image">
                                <img src="{{ product.product_image1.url }}"/><br>
                            </div>

                            <span id="product_name">{{ product.name|capfirst }} </span><br>
                            <span id="product_price">#{{ product.price }} </span>

                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </section>

                <section>
                    <div class="category_title">
                        <h3>  Top Sellers </h3>
                    </div>
                    <div class="men_product">
                        {% for product in men_products %}
                        <div class="main_product">
                            <a href=" {% url 'product' product.id  %}" >

                            <div class="product_image">
                                <img src="{{ product.product_image1.url }}"/><br>
                            </div>

                            <span id="product_name">{{ product.name|capfirst }} </span><br>
                            <span id="product_price">#{{ product.price }} </span>

                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>

        </div>
    </section>

{% endblock %}

