{% extends 'main.html' %}
{% block content %}


<section>

    <div class="login_box">
        <div class="login__boxTitle">
                <h3> Login </h3>
        </div>
    <form action=" " method="POST">
         {% csrf_token %}
        <div class="login">
            {{ form.as_p }}
        </div>

        <button type="submit" class="btn"> Sign in</button>

        <p id="register_link"> New to FUTOSquare?<a href="{% url 'create-profile' %}"> Register</a> </p>
    </form>
    </div>

</section>

{% endblock %}
