{% extends 'main.html' %}
{% block content %}
    <style>
    .login{
        padding: 20px;
        margin: 20px;
        justify-items: center;
        text-align: center;

    }
    .login #submit {
        border-radius: 8px;
    }


    </style>


<section class="login">

    <h2> Login </h2>
 <form action=" " method="POST">
    {% csrf_token %}
        {{ form.as_p }}



    <input type="submit" value="Login" id="submit"/>
    </form>

    <p> Don't have an account?</p>
    <p><a href="{% url 'create-profile' %}"> Register</a></p>
</section>



{% endblock %}
