{% extends 'main.html' %}
{% block content %}
    <style>
    .login{

        padding: 20px;
        margin: 20px;
        justify-items: center;
        text-align: center;

    }
    .login #submit {
        width: 10%;
        border-radius: 8px;
    }


    </style>

<section class="login">

    <h2> Login </h2>
     <div  class="form-group">
    <form action=" " method="POST">

         {% csrf_token %}
        {{ form.as_p }}

    <input type="submit" value="Login" id="submit"/>
    </form>
    </div>
    <p> New to FUTOSHOP ?<a href="{% url 'create-profile' %}"> Register</a> </p>



</section>



{% endblock %}
