{% extends 'main.html' %}

{% block content %}
    <section>
        <div class="container_main">
            <section>
                <div class="product_container">
                    <div id="product_image">
                        <img src=" {{ product.product_image1.url }}" />
                    </div>
                    <div>
                        <img/>
                    </div>
                    <div id="product_details">
                        <span id="product_name">{{ product.name }}</span> <span id="product_price"><sup>#</sup>{{ product.price }}</span><br/>
                        <cite>{{ product.description }} </cite>
                    </div>

                    <form action="{% url 'cart'%}" method="POST" >
                        {% csrf_token %}
                        <span> <button type="submit" name="addtocart" > Add to Cart</button></span> <span><button type="button" style="background: #307254;" autofocus> Buy Now</button> </span>
                        {# <button type="button" name="wishlist" formaction="/"> WIsh list</button>#}
                    </form><br/>

                </div>
            </section>

            <section>
                <div id="related_items_main">
                    <div id="related_Title">
                        <h2> Related Items </h2>
                    </div>
                    <div id="related_items">
                        {% if related is not empty %}
                            {% for i in related %}
                        <a href="{% url 'product' i.id %}">
                            <img src=" {{ i.product_image1.url }}" width="200px" height="180px" /><br/>
                        <span>{{ i.name }} </span>
                        </a>
                            {% endfor %}
                            {% else %}
                            <p> No related products! </p>
                        {% endif %}
                    </div>
                </div>
            </section>

            <section>
                <div class="customer_review">
                    <div id="customer_review_Title">
                        <h2>Customer Review </h2>
                    </div>
                        {% if comments %}
                    <div id="comment">
                        {% for comment in comments %}

                        <div id="reviews">
                            <strong>{{ comment.user.first_name|capfirst }} {{ comment.user.last_name|capfirst }} </strong> commented<br/>

                            <cite>{{ comment.review }}</cite><hr/>
                        </div><hr>
                        {% endfor %}
                    </div>
                                {% else %}

                        <p> No Review yet! </p>

                                {% endif %}
                            {% if request.user.is_authenticated %}
                    <div id="comment_box">

                        <form action="{% url 'create-review' %}" method="POST">
                        {% csrf_token %}
                        <textarea name="review" placeholder="Write a review..."></textarea><br>

                            <button type="submit">POST</button>
                        </form>

                    </div>
                        {% endif %}
                </div>

            </section>
        </div>

    </section>



{% endblock %}