{% extends 'main.html'%}
{% load static %}
{% block content %}

    <section>
        <div class="profile">
            <div id="profile_image">
                <img src="{{  profile.avatar.url }}" />
            </div>
            <div class="profile_info">
{#            <a href="{% url 'update-profile' request.user.id %} "> Update Profile </a>#}
                <div class="profile_main">

                    <p style="font-size: 22px; font-weight: 600"> {{ profile.first_name }} {{ profile.last_name }}</p>

                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> Email: {{ profile.email }}</p>

                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Lives at: {{ profile.address }}</p>

                    <p><i class="fa fa-mobile" aria-hidden="true"></i> Telephone: +234{{ profile.phone_number }}</p>

                </div>

            </div>
            <p> Have something to sell? <a href="{% url 'create-product' %}"> Create a product!</a> </p>

            <div class="profile_product_main">
                    <h2> Your Products </h2>
                <div class="profile_products">
                    {% if products  %}
                        {% for each in products %}
                        <div class="sub_products">
                            <img src="{{ each.product_image.url}}"/>
                            <p>Product: {{ each.name|capfirst }}</p>
                            <p>Description: {{ each.description }}</p>
                            <a href="{% url 'update-product' each.id %}"> Edit product</a>
                            <a href="{% url 'delete-product' each.id %}"> Delete</a>
                        </div>

                        {% endfor %}
                    {% else %}

                    <p> You don't have a Product! <a href="{% url 'create-product' %}"> Sell a Product</a> </p>
                    {% endif %}
                </div>

            </div>
        </div>
    </section>

{% endblock %}
