{% extends 'main.html' %}

{% block content %}

    <section >
    <div class="register_box">
        <div class="register__boxTitle">
            <h1> CREATE A FUTOSquare ACCOUNT </h1>
        </div>

        <form action=" " method="POST" >
        {% csrf_token %}
        <div class="register">
            {{ form.as_p }}
        </div>


            <button type="submit" class="btn btn--main"> Register </button>
            <p id="register_link"> Already have an account? <a href="{% url 'login' %}"> Sign In</a></p>
        </form>

    </div>




    </section>




{% endblock %}